@charset "UTF-8";

@font-face 
{
	font-family: "roboto";
	src: url("ROBOTO-REGULAR.TTF");
}

@font-face 
{
	font-family: "oswald";
	src: url("OSWALD-REGULAR.TTF");
}

a 
{
	bottom: 0;
	color: #f97171;
	margin-top: 30px;
}

body 
{
	background: url("images/background.png") no-repeat center center fixed;
	background-color: white;
	background-size: cover;
	font-family: roboto;
	font-size: 15px;
	margin-left: 350px;
	margin-right: 350px;
}

div.links 
{
	bottom: 0;
	float: right;
	font-size: 20px;
	margin-top: 180px;
}

element.style 
{
	margin-left: 24rem;
}

.form-control-hint 
{
	font-style: italic;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 30px;
}

.form-control-radio-button 
{
	margin-left: 20px;
	margin-right: 5px;
}

.form-control-word 
{
	color: #f97171;
	display: inherit;
	font-family: oswald;
	font-size: 60px;
	margin-top: 10px;
	text-align: center;
}

.form-control-plaintext 
{
	font-size: 20px;
	margin-bottom: 60px;
	margin-top: 20px;
	text-align: center;
}

.form-group-bottom 
{
	margin-bottom: 20px;
	margin-left: 20px;
}

input.btn.btn-primary 
{
	background-color: #1d749a;
	border-color: #1d749a;
	margin-bottom: 50px;
	margin-top: 30px;
}

input.form-control 
{
	width: 100%;
}

input.form-control-box 
{
	margin-right: 5px;
}

input.form-control.hit:invalid 
{
	border: solid 1px red;
	color: red;
}

input.form-control.hit:valid 
{
	border: solid 1px green;
	color: green;
}

select 
{
	margin-bottom: 20px;
}

textarea.form-control 
{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}